ScarpeFrL/Schemas/pagamento.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1762360231862" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1762360231862">

<!-- definisco gli elementi -->
<element name="datiFattura" type="tns:datiFatturaType"/>
<element name="id_fattura" type="string"/>
<element name="id_sped" type="string"/>
<element name="importo" type="integer"/>
<element name="data_fatt" type="dateTime"/>
<element name="stato_pagamento" type="string"/>
<element name="nome_file" type="string"/>
 
<!-- definisco i tipi -->
<complexType name="datiFatturaType">
	<sequence>
		<element maxOccurs="1" minOccurs="0" ref="tns:id_fattura"/>
		<element maxOccurs="1" minOccurs="0" ref="tns:id_sped"/>
		<element maxOccurs="1" minOccurs="0" ref="tns:importo"/>
		<element maxOccurs="1" minOccurs="0" ref="tns:data_fatt"/>
		<element maxOccurs="1" minOccurs="0" ref="tns:stato_pagamento"/>
	</sequence>
</complexType>
 
<!-- definisco la variabile contenuto_directory per il server FTP dei pagamenti -->
<element name="contenuto_dir">
	<complexType>
		<sequence minOccurs="0" maxOccurs="unbounded">
			<element ref="tns:nome_file"/>
		</sequence>
	</complexType>
</element>
</schema>
