ScarpeFrL/Schemas/quoteParameterSchema.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:source="bw.rest" xmlns:tns="http://xmlns.example.com/quote/parameters" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/quote/parameters">
                                          
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <xs:element name="quoteGetParameters">
                                                                                    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <xs:complexType>
                                                                                                                              
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <xs:sequence>
                                                                                                                                                                        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="id_ordine" type="xs:string"/>
                                                                                                                                                                      
      
                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="peso" type="xs:string"/>
                                                                                                                                                            
      
      
                
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="origine" type="xs:string"/>
                                                                                                                                    
      
      
                
        
        
        
        
        
        
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="destinazione" type="xs:string"/>
                                                                                                            
      
      
                
        
        
        
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="data_ordine" type="xs:string"/>
                                                                                    
      
      
                
        
        
        
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="data_voluta" type="xs:string"/>
                                                            
      
      
                
        
        
        <xs:element maxOccurs="1" minOccurs="1" name="data_massima" type="xs:string"/>
                                    
      
      
      </xs:sequence>
                                                                                                                            
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    </xs:complexType>
                                                                                  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </xs:element>
                                        



















</xs:schema>
