ScarpeFrL/Schemas/spedizione.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1759399791283" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1759399791283">

<element name="spedizione" type="tns:spedizione_Type"/>

  <complexType name="spedizione_Type">
    <sequence>
      <element name="id_sped" type="string"/>
      <element name="id_ordine" type="int"/>
      <element name="stato_sped" type="string"/>
      <element name="data_agg" type="dateTime"/>
	  <element name="data_consena" type="dateTime"/>
	  <element name="note" type="string"/>
    </sequence>
  </complexType>
  
</schema>
